# -----
# BUILD
# -----

maturin == 1.9.4

# -------
# EXAMPLES
# -------

numpy
polars    >= 1.35.1  ; python_version < '3.14'
pandas    >= 2.1.0   ; python_version < '3.14'
pyarrow   >= 12.0.0  ; python_version < '3.14'
torch     >= 2.7.1   ; python_version < '3.14'

# -------
# TOOLING
# -------

pytest      == 9.0.2
pytest-cov  == 7.0.0
pytest-xdist== 3.6.1